*{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #F2F2F2;
}
.main
{
    width: 800px;
    margin: 200px auto;
    text-align: center;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ccc;
}
.form{
	text-align: left;
    padding-left: 40%;
	}
h1
{
    margin-bottom: 30px;
}
label{
	font-size:16px;
	color:rgb(130, 137, 144);
}
.control
{
    margin-bottom: 15px;
    height: 28px;
    font-size: 14px;
}
input.control{
	width:200px;
}
select.control{
	width:100px;
}
button
{
  
    height: 30px;
    width: 60px;
    border-radius: 5px;
    background-color: #F4F4F4;
    transition:background-color  0.5s;
    margin-bottom: 15px;
}
button:hover
{
    background-color: #e00;
    color:#fff;
}
.logout{
	display:inline-block;
	float: right;
	padding-right:20px;
}
.logout a{
	margin-top:4px;
	text-decoration: none;
	color:inherit;
	padding:0 4px;
	cursor: pointer;
	background-color: #ccc;
}